<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Details of product: {{productId}} </h2>
  </div>
  <div class="card-body">
    <table class="table">
      <tbody>
        <tr>
          <td><strong>Product title</strong></td>
          <td>{{product.productName}}</td>
        </tr>
        <tr>
          <td><strong>Product price</strong></td>
          <td>{{product.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<a [routerLink]="['/detail/8']" routerLinkActive="router-link-active">Previous</a>
<a [routerLink]="['/detail/10']" routerLinkActive="router-link-active">Next</a>
